<!DOCTYPE html>
<html>
  <head>
    <title>AAroundLA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navbar">
    <ul>
      <% if logged_in? %>
        <li><%= link_to "Logout", logout_path, {method: "DELETE"} %></li>
        <li><%= link_to "Add Meetings", new_meeting_path %></li>
        <li><%= link_to "Browse Meetings", meetings_path %></li>
      <% else %>
        <li><%= link_to("Sign Up", "/users/new") %></li>
        <li><%= link_to "Login", new_session_path %></li>
        
      <% end %>  
      <li><%= link_to("HOME", "/") %></li>        
    </ul>
    </div>
    <%= yield %>
    <div class="footer">
      <p>Created by Eli Meschures</p>
    </div>
  </body>
</html>
